Clément Jonglez <clement@jonglez.space>                    Clément Jonglez <clement.jonglez@tu-berlin.de>
Guilhem Bonnefille <guilhem.bonnefille@cs-soprasteria.com> Guilhem Bonnefille <guilhem.bonnefille@c-s.fr>
Guilhem Bonnefille <guilhem.bonnefille@cs-soprasteria.com> Guilhem Bonnefille <guilhem.bonnefille@csgroup.eu>
Guylaine Prat <guylaine.prat@cs-soprasteria.com>           gprat <guylaine.prat@c-s.fr>
Guylaine Prat <guylaine.prat@cs-soprasteria.com>           gprat <guylaine.prat@csgroup.eu>
Guylaine Prat <guylaine.prat@cs-soprasteria.com>           gprat <guylaine.prat@cs-soprasteria.com>
Guylaine Prat <guylaine.prat@cs-soprasteria.com>           Guylaine Prat <guylaine.prat@c-s.fr>
Guylaine Prat <guylaine.prat@cs-soprasteria.com>           Guylaine Prat <guylaine.prat@csgroup.eu>
Jonathan Guinet <jonathan.guinet@cs-soprasteria.com>       Jonathan Guinet <jonathan.guinet@c-s.fr>
Jonathan Guinet <jonathan.guinet@cs-soprasteria.com>       Jonathan Guinet <jonathan.guinet@csgroup.eu>
Lucie Labat-Allée <lucie.labat-allee@cs-soprasteria.com>   Labat-Allee Lucie <lucie.labat-allee@c-s.fr>
Lucie Labat-Allée <lucie.labat-allee@cs-soprasteria.com>   LabatAllee Lucie <lucie.labat-allee@c-s.fr>
Mélina Vanel <melina.vanel@cs-soprasteria.com>             mvanel <melina.vanel@csgroup.eu>
Sébastien Dinot <sebastien.dinot@cs-soprasteria.com>       Sebastien Dinot <sebastien.dinot@csgroup.eu>
Sébastien Dinot <sebastien.dinot@cs-soprasteria.com>       Sébastien Dinot <sebastien.dinot@csgroup.eu>
Sébastien Dinot <sebastien.dinot@cs-soprasteria.com>       Sebastien Dinot <sebastien.dinot@c-s.fr>
Sergio Esteves <sroesteves@gmail.com>                      sesteves <sroesteves@gmail.com>
